{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a
        href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
{% if form %}
<form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <div class="form-floating mb-4">
        {{ field|add_class:'form-control' }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>

        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    {% endfor %}
    <!-- Catching general form errors  -->
    {% if form.non_field_errors %}
    <div class="alert alert-block alert-danger">
        <span class="text-danger form-error "> {{ form.non_field_errors  }}</span>
    </div>
    {% endif %}
    <input class="btn btn-cordovan" type="submit" name="action" value="{% trans 'change password' %}">
</form>
{% else %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}
{% endblock %}


{% csrf_token %}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% for field in form.visible_fields|slice:'2' %}
<div class="form-floating mb-4">
    {{ field|add_class:'form-control' }}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
</div>
{% endfor %}
<!-- Catching general form errors  -->
{% if form.non_field_errors %}
<div class="alert alert-block alert-danger">
    <span class="text-danger form-error "> {{ form.non_field_errors  }}</span>
</div>
{% endif %}
