{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Events {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="events">
    <div class="container my-5">
        <div class="row">
         
                <section class="event-section w1440">
                    <header class="text-right w1200">
                        <h2 class="title" style="font-size: 64px">EVENTS</h2>
                        <p style="margin: 0 180px 130px auto;width: 622px;line-height: 1.75em;padding:0.5em;">Great opportunities to get closer with the team, meet YouTube personalities, consult professional hairstylists, try on the latest wig styles and get effective care &amp; install tutorials. </p>
                    </header>
                    <div class="event-items" style="width: 100%;display: flex; justify-content: space-around;">
                        <img src="https://res.cloudinary.com/dzesjeplp/image/upload/v1733410325/event1_mjd95m.jpg" class=" ls-is-cached lazyloaded" data-src="https://res.cloudinary.com/dzesjeplp/image/upload/v1733410325/event1_mjd95m.jpg" width="410px" height="360px">
                        <img src="https://res.cloudinary.com/dzesjeplp/image/upload/v1733410325/event2_soc3ft.jpg" class=" ls-is-cached lazyloaded" data-src="https://res.cloudinary.com/dzesjeplp/image/upload/v1733410325/event2_soc3ft.jpg" width="410px" height="360px">
                        <img src="https://res.cloudinary.com/dzesjeplp/image/upload/v1733410325/event3_w6ilqv.jpg" class=" ls-is-cached lazyloaded" data-src="https://res.cloudinary.com/dzesjeplp/image/upload/v1733410325/event3_w6ilqv.jpg" width="410px" height="360px">
                        <img src="https://res.cloudinary.com/dzesjeplp/image/upload/v1733410325/event4_hkgn6h.jpg" class=" ls-is-cached lazyloaded" data-src="https://res.cloudinary.com/dzesjeplp/image/upload/v1733410325/event4_hkgn6h.jpg" width="410px" height="360px">
                    </div>
                </section>
                
            <div class="col-10 custom-border mx-auto mt-5 p-5">
                <h1>Coming soon--- Join our Newsletter to be updated.</h1>
                 <!-- Mailchimp -->
                <div class="col-md-5 offset-md-1 mb-3">
                    
                    <div id="mc_embed_shell" class="d-flex justify-content-center flex-wrap">
                    <div id="mc_embed_signup">
                        <form
                        action="https://herokuapp.us21.list-manage.com/subscribe/post?u=9578948f3ccf0308ede4bdb1e&amp;id=f0a8e6ba48&amp;f_id=00fdede6f0"
                        method="post"
                        id="mc-embedded-subscribe-form"
                        name="mc-embedded-subscribe-form"
                        class="validate"
                        target="_blank"
                        >
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                            <input
                                type="email"
                                name="EMAIL"
                                class="required email form-control"
                                placeholder="Email*"
                                id="mce-EMAIL"
                                required=""
                                value=""
                                autocomplete="email"
                            />
                            <label for="mce-EMAIL" class="form-label"></label>
                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                            </div>
                            <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            <input
                                type="text"
                                name="b_9578948f3ccf0308ede4bdb1e_f0a8e6ba48"
                                tabindex="-1"
                                value=""
                            />
                            </div>
                            <div class="optionalParent">
                            <div class="clear foot">
                                <input
                                type="submit"
                                name="subscribe"
                                id="mc-embedded-subscribe"
                                class="button"
                                value="Subscribe"
                                />
                                <p style="margin: 0px auto;">
                                <a
                                    target="_blank"
                                    rel="noopener"
                                    href="http://eepurl.com/iE4wCA"
                                    title="Mailchimp - email marketing made easy and fun"
                                >
                                    <span
                                    style="display: inline-block; background-color: transparent; border-radius: 4px;"
                                    >
                                    <img
                                        class="refferal_badge"
                                        src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                        alt="Intuit Mailchimp"
                                        style="
                                        height: 40px;
                                        display: flex;
                                        padding: 2px 0px;
                                        justify-content: center;
                                        align-items: center;
                                        "
                                    />
                                    </span>
                                </a>
                                </p>
                            </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    </div>
                </div>
                <!-- Mailchimp end -->
            </div>
        </div>
    </div>
</section>
{% endblock content %}