{% extends 'base.html' %}
{% load static %}
{% block title %}
FAQs
{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <p>If you have any queries regarding your order or about the products, have a look below at our
                    Top FAQs and hopefully you will find the information you are looking for.</p>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <strong>When will my order be delivered?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p><strong>Deliveries within the United States:</strong><br>
                                    Most orders will be delivered in&nbsp;<strong>2-3 working days</strong>. On some occasions, depending on
                                    the item, it may take up to <strong>5 working days</strong> if the product has to be first sent to our
                                    distribution centre. DHL deliver all our packages and they deliver Monday to Friday, 9am – 6pm.
                                    Saturday and Sunday are not working days therefore are not included within the delivery timeframe. Once
                                    your order has been despatched you will receive an email notification and thereafter you will receive
                                    delivery updates from DHL keeping you up to date with the progress of your delivery and when to
                                    expect them to deliver your order.</p>
                                <p>If you have opted to deliver your order to a country other than the US, the delivery times will vary to
                                    that above.</p>
                                <p>UK – up to 6 working days<br>
                                    Europe – up to 7 working days<br>
                                    Rest of World – up to 12 working days</p>
                                <p>If your order should have been delivered by now, and hasn’t been, you can email us at
                                    support@hairhotty.com
                                    and we will look into it for you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <strong>Why did I receive only part of my order?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>While we endeavour to deliver all items in your order together, we will occasionally ship part of
                                    your order separately due to stock issues. For example, if you order three items and one of them is
                                    out of stock, we may dispatch the two in-stock items while we await new stock of the third item. On
                                    these occasions, we will continue to update you via email as your order progresses. If you
                                    still have questions, or want to query a specific order, you can email support@hairhottyl.com or call
                                    us
                                    on 0800 608 1407.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <strong>How much does delivery cost?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p><strong>Delivery Charges –&nbsp;</strong><strong>Under $300<br>
                                    </strong>United States – $20<br>
                                    Rest of World – $50</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                <strong>How can I pay for my order?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>To order online you will need a VISA, VISA Debit, MasterCard or Maestro card. All payments
                                    are&nbsp;made in Dollars.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFour">
                                <strong>Do I need to create a customer account to order?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>No, you also have the option to order as a guest without registration. 
                                    However, by creating a customer account, you can easily view all your orders and their shipping status.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseFour">
                                <strong>I have a customer account, but I forgot my password. What should I do?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>If you have forgotten your password, you can easily request a new one using the "Forgot Password" function.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseFour">
                                <strong>What if the item I want is sold out?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>You can directly sign up for a notification with your email address and product name on the contact page. As soon as the item is available again, you will be notified via email.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseFour">
                                <strong>I forgot to apply my discount code. Can I do this retroactively?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Unfortunately, we cannot apply a discount retrospectively. Please use your discount code for your next order.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseFour">
                                <strong>Can I change my delivery address or edit/cancel my order afterwards?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>To provide you with the fastest possible delivery time, your order is immediately forwarded to shipping. 
                                Therefore, once your order has been successfully placed, we can no longer make any changes, edits, or cancellations.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>
{% endblock %}