{% extends 'base.html' %}
{% load static %}
{% block title %}
Returns
{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <p>If you have any queries regarding returning your order, have a look below
                    and hopefully you will find the information you are looking for.</p>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <strong>How do I return items and within what timeframe?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>You have 30 days to return products that you do not wish to keep. Please note that we can only accept items with undamaged hygiene seals.

                                    To register your return, please use our returns portal: www.elegance-hair.de/retoure
                                    
                                    For more information, please refer to the Return section or our Cancellation Policy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <strong>Do I have to pay for the return shipping?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Unfortunately, you are responsible for the return shipping costs (we cannot accept parcels with postage due).</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <strong>How long does the processing take and when will I get my money back?</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>We strive to process all returns within one week of receipt, often much faster.
                                    The refund will be made using the same payment method you used, immediately after your return has been processed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
</section>
{% endblock %}