{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
My Wishlist
{% endblock title %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="profile mb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="custom-border p-3">
                    <div class="row">
                        {% include 'profiles/components/sidebar.html' %}
                        <div class="col-12 col-lg-10 mt-4 mt-lg-0">
                            <h4 class="text-start fs-3 fw-4">My Wishlist:</h4>
                            <hr>
                            <div class="row mt-3 d-flex justify-content-center">
                                {% if wishlist %}
                                {% for item in wishlist %}
                                <!-- Product Card -->
                                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3 d-flex flex-column align-items-center h-100">
                                    <div class="product-grid card shadow product-card" style="padding: 10px;">
                                        <div class="product-image">
                                            {% if item.product.image %}
                                            <a href="{% url 'product_detail' item.product.id %}" class="image">
                                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid img-top">
                                            </a>
                                            {% else %}
                                            <a href="">
                                                <img class="img-fluid img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                            </a>
                                            {% endif %}
                                        </div>

                                        <!-- Product Details and Buttons -->
                                        <div class="product-content text-center">
                                            <p class="logo-font text-truncate mb-1">
                                                {{ item.product.name }}
                                            </p>

                                            <!-- Buttons in a flexbox row -->
                                            <div class="d-flex justify-content-between mt-2">
                                                <!-- Wishlist button -->
                                                <form class="product-links" method="POST" action="{% url 'wishlist_add' item.product.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="wishlist" value="submit" aria-label="remove from wishlist">
                                                        <i class="fa-solid fa-heart"></i>
                                                    </button>
                                                    <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                                </form>
                                                {% if item.product.sale_price %}
                                                <div class="original-price"><s>${{ item.product.price }}</s>
                                                    <p> <strong>${{ item.product.sale_price }}</strong></p>
                                                </div>
                                                {% else %}
                                                <div class="regular-price">
                                                    <p>${{ item.product.price }}</p>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Card -->
                                {% endfor %}
                            
                                {% else %}
                                <div class="d-grid gap-2">
                                    <p class="text-center">No items in wishlist</p>
                                    <a href="{% url 'products' %}" class="btn btn-cordovan d-block mx-auto">Browse Shop</a>
                                </div>
                                {% endif %}
                                <!-- Pagination -->
                                <div class="row">
                                    <div class="col-md-12  d-flex justify-content-center">
                                        <ul class="pagination">
                                            {% if wishlist.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}">First</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ products.previous_page_number }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}">Previous</a>
                                            </li>
                                            {% endif %}
                                            <li class="page-item active">
                                                <span class="page-link">Page {{ wishlist.number }} of {{ wishlist.paginator.num_pages }}</span>
                                            </li>
                                            {% if wishlist.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ products.next_page_number }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}">Next</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ products.paginator.num_pages }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}">Last</a>
                                            </li>
                                            {% endif %}
                                        </ul>                        
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
