{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Welcome to Hair Hotty- Your Florida-based black hair wig and and  hair extensons shop offering a wide range of black hair products especially for women of colour!">
        <meta name="keywords"
        content="kinky curly hair wigs, black hair wigs and extensions, black women hair wigs, afro-brazilian hair wigs and produce, hair, black hair, afro hair, afro wigs, afro kinky curly wigs, afro curly hair, Florida">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- JavaScript -->
    <script src="https://kit.fontawesome.com/f6549ef1f7.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <title>Hair Hotty {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    {% include 'components/header.html' %}

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'components/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'components/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'components/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'components/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    

    <footer class="text-center text-lg-start" id="footer">
      {% include 'components/footer.html' %}
   </footer>
    
   <!-- Postload Javascript-->
    {% block postloadjs %}
        <!-- Toasts /Messages JS -->
        <script src="{% static 'js/toast.js'%}"></script>
        <!-- Sorting Products JS -->
        <script src="{% static 'products/js/sort_selector.js' %}"></script>
        <!-- Handle product quantity input-->
        <script src="{% static 'js/quantity_inputs.js' %}"></script>
         <!-- Rating Selector JS -->
        <script src="{% static 'reviews/js/ratings_select.js' %}"></script>
        <!--Mailchimp-->
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
        <script src="{% static 'js/mailchimp_form.js'%}"></script>
    {% endblock %}

    {% block extra_js_end %}  
    {% endblock %}

  </body>
</html>