@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,600;1,400&display=swap');

:root {
    --cordovan: #B00058;
    --licorice: #55002A;
    --hot-pink: #FF69B4;
    --pink:#FF439D;
    --old-lace: #FDF4E7;
    --white: #ffff;
    --dark: #140C00;
    --background: #ebeae5;
    --gray: #959595;
    --dark-gray:#6f6a6a;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.shadow {
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.25)!important;
}

.shadow-sm {
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.35)!important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

a.category-badge > span.badge:hover {
    background: var(--dark) !important;
    color: #fff !important;
}

/* Fonts, Sizes and Weights */
.logo-font {
    text-transform: uppercase;
}

.weight-semibold {
    font-weight: 600;
}

.weight-bold {
    font-weight: 700;
}

.section-title {
    font-size: 24px;
}

/*buttons*/
.btn-cordovan {
    background-color: var(--cordovan);
    color: var(--white);
    border:none;
}

.btn-cordovan:hover {
    background-color: var(--hot-pink);
    color: white;
}

.btn-outline-cordovan {
    background: white;
    color: var(--hot-pink) !important; /* use important to override link colors for <a> elements */
    border: 1px solid var(--hot-pink);
}

.btn-outline-cordovan:hover,
.btn-outline-cordovan:active,
.btn-outline-cordovan:focus {
    background: var(--hot-pink);
    color: white !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/*text*/
.text-cordovan {
    color: var(--cordovan);
}

.text-ib-light {
    color: var(--white);
}

/* Product Quantity Selector */

.decrement-qty.btn,
.increment-qty.btn {
    border: none;
    height: 40px;
    width: 40px;
    background-color: var(--cordovan);
    color: var(--white);
}

.decrement-qty-sm.btn,
.increment-qty-sm.btn {
    height: 35px;
    width: 35px;
}

input.qty-input-sm {
    height: 100% !important;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:focus-visible,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: var(--hot-pink);
    color: white;
    border:none;
}

.decrement-qty:disabled,
.increment-qty:disabled {
    background-color: var(--gray) !important;
    color: var(--dark-gray);
}

.qty_input:focus,
.qty_input:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--cordovan) inset;
    border: none !important;
    outline: none !important;
}

/*Background color classes*/
  .bg-licorice {
    background-color: var(--licorice);
}

.bg-cordovan {
    color: var(--cordovan);
}

/*BANNER*/
.header-ticker {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    color: white;
    var(--background);
  }
  
  .ticker-text {
    display: inline-block;
    animation: tickerAnimation 10s linear infinite;
    padding: 0 100px;
  }
  
  @keyframes tickerAnimation {
    0% { transform: translateX(100%); }
    50% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }

/* Nav */
.logo-img {
    height: 80px;
}

.navbar-nav .nav-link {
    font-weight: 600;
    font-family: 'Libre Baskerville', serif;
}

.navbar-nav .nav-link:hover {
    color: var(--licorice) !important;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 110px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

.toast-close span {
    font-size: 28px;
    line-height: 0.6;
    vertical-align: top;
}

.toast-close {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.toast-close:hover {
    color: var(--dark);
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 30px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-total {
    font-size: 18px;
}

/*HERO CAROUSEL SECTION*/
#hero {
    width: 100%;
}

.hero-text {
    font-family: 'Libre Baskerville', serif;
}

.carousel-caption {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.carousel-item {
    height: 100vh;
}

.carousel-bg-1 {
    background: url('/static/images/hero-banner1.png');
}

.carousel-bg-2 {
    background: url('/static/images/hero-banner2.jpg');
}

.carousel-bg-3 {
    background: url('/static/images/hero-banner3.jpg');
}

.carousel-image {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.shop-now-button {
    background: black;
    color: var(--white);
    min-width: 260px;
}

#hero .btn {
    letter-spacing: 2px;
    border-radius: 25px;
    padding: 10px 35px;
    border: 2px solid #fff;
    -webkit-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    font-size: clamp(0.8rem, 2vw, 1.1rem);    
    background: var(--cordovan) !important;
    color: var(--white) !important;
    transition: 0.2s !important;
    opacity: 0.8 !important;
}

#hero .btn:hover {
    background: var(--hot-pink) !important;
    color: var(--white) !important;
    transition: 0.2s !important;
    opacity: 0.8 !important;
}

#hero .carousel-caption h2 {
    font-size: clamp(1.5rem, 2vw, 3rem);
    letter-spacing: 2px;
}

#hero .carousel-caption p {
    height: 50px;
    font-size: clamp(1.3rem, 2vw, 2.5rem);
    letter-spacing: 2px;
}

/*TRUST BADGES SECTION*/
.custom-border {
    border: var(--cordovan) 1px solid;
    border-radius: 20px;
    box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
}

.custom-icon i {
    font-size: 50px;
    color: var(--cordovan);
}

/* Pagination */
.page-link {
    color: var(--dark-gray);
}

.page-link:hover {
    color: var(--hot-pink);
}

.page-item.active .page-link {
    color: var(--white);
    background-color: var(--cordovan);
    border-color: var(--white);
}

/*All Products page*/
.prodcut-card .product-image a.image {
    display: block;
}

.product-discount-label {
    color: var(--white);
    background: var(--cordovan);
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 20px;
    position: absolute;
    right: 0;
}

.prodcut-card .product-links {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all 0.5s ease 0s;
}
.prodcut-card:hover .product-links {
    right: 10px;
}
.prodcut-card .product-links button {
    color: var(--cordovan);
    background: transparent;
    font-size: 17px;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border: 1px solid #333;
    border-bottom: none;
    display: block;
    transition: all 0.3s;
    border-bottom: 1px solid #333;
}

.prodcut-card .product-links button:hover {
    color: var(--white);
    background: var(--cordovan);
}

.floating_button .product-links button:hover {
    color: var(--white);
    background: var(--cordovan);
}
.floating_button .add_to_bag {
    background: var(--cordovan);
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px 26px;
    position: absolute;
    right: 0;
    bottom: -60px;
    transition: all 0.3s ease 0s;
}
.floating_button:hover .add_to_bag {
    bottom: 0;
}
.floating_button .add_to_bag hover {
    text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

/* Product Detail page */
.product-page-category {
    color: var(--cordovan)
}

.product-page-category:hover {
    color: var(--hot-pink);
}
.product-form {
    width: fit-content;
}

.nav-tabs .nav-link {
    border: var(--bs-nav-tabs-border-width) solid #97908e;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    font-weight: 500;
    background-color: #eeebe3;
    border: var(--bs-nav-tabs-border-width) solid var(--cordovan);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
    cursor: pointer;
    border: var(--bs-nav-tabs-border-width) solid var(--cordovan);
}

.nav-tabs {
    --bs-nav-tabs-border-color: #97908e;
}

.table > :not(caption) > * > * {
    background-color: transparent;
    border-bottom-color: var(--dark-gray);
}

button.wishlist {
    color: var(--cordovan);
    font-size: 25px;
    border: none;
    background-color: transparent;
}

.in-stock-label {
    box-shadow: 2px 3px 2px 1px #8f8f8f;
    background-color: #309e30;
    border-radius: 9px;
    padding: 6px;
}

.out-of-stock-label {
    box-shadow: 2px 3px 2px 1px #8f8f8f;
    background-color: #ff7a7a;
    border-radius: 9px;
    padding: 6px;
}

.btn-not-allowed {
    background-color: #cdc8c8;
    color: var(--white);
    cursor: not-allowed;
}
/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.form-group-label{
    margin-top: 20px;
    margin-bottom: 10px;
}
/*Review Section*/
.rating-star {
    color: gray; /* Default color */
    cursor: pointer;
    background: none;
    border: none;
}

.rating-star.rating-star-selected {
    color: gold; 
}

.rating-star.rating-star-hover {
    color: gold;
}

.product-rating-link:hover .rating-div p {
        -webkit-text-decoration-color: rgba(15, 116, 138, 1) !important;
        text-decoration-color: rgba(15, 116, 138, 1) !important;
}


/* Profile page */
.order-history {
    max-height: 529px;
    overflow-y: auto;
}

/* Sidebar profile page */
#profile-nav .nav-link {
    width: fit-content;
}
#profile-nav .nav-link.active {
    border-bottom: 1px solid var(--cordovan);
}

.sidebar {
    border-right: 1px solid gray;
}

.order-history {
    max-height: 358px;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

/* About Us page adjustments */
.cms-section {
    margin-top: 50px;
}

.hero-holder .img-holder {
    height: 100%;
    background-position: center;
    background-size: cover;
}

.hero-holder .heading {
    padding: 37px 25px 29px;
    font-size: 14px;
    background-color: #f2f2f2;
    position: relative;
}

.social-media-holder {
    margin-top: 30px;
}

.quote-text {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-style: italic;
}

.hashtag {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 3px;
}

.article-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-top: 20px;
}

.article-content center img {
    margin-top: 30px;
}

#social-about-links a {
    text-decoration: none;
}

#social-about-links a i {
    color: var(--dark-gray);
    font-size: 25px;
}

#social-about-links a i:hover {
    color: #6f6a6a;
}

/* Contact Us Page */

form .form-label {
    display: none;  
}

input::placeholder, textarea::placeholder {
    color: #999;
    font-size: 14px;
}

.contact_form .form-group {
    margin-bottom: 20px;  
}

.contact_form input,
.contact_form textarea {
    width: 100%;  
    padding: 10px;  
    border-radius: 5px;  
    border: 1px solid #ddd;  
}


.contact_form button {
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 5px;
}

/* FOOTER */
#footer{
    background-color: var(--licorice);
    margin-top: auto;
    color: #fff;
}

#footer-links a {
    color: var(--white);
}

#footer-links a:hover {
    color: #6f6a6a;
}

.btn-gray {
    background-color: var(--gray);
    color: var(--dark);
}

.btn-gray:hover {
    background-color: var(--dark-gray);
    color: var(--dark);
}

#social-links a {
    text-decoration: none;
}

#social-links a i {
    color: var(--white);
    font-size: 25px;
}

#social-links a i:hover {
    color: #6f6a6a;
}

/* MEDIA QUERY */
@media (max-width: 576px) {
    .card-footer .price {
        flex-direction: column; 
        text-align: center;
    }
    
    .card-footer .sale-price, .card-footer .regular-price {
        font-size: 1.5rem; 
    }
    
    .card-footer .rating-div small {
        font-size: 0.9rem; 
    }
    
    .card-footer .original-price {
        font-size: 1.2rem; 
    }
    
    .card-footer .regular-price {
        font-size: 1.6rem; 
    }
}

/* Medium screens (tablet) */
@media (max-width: 768px) {
    .card-footer .price {
        flex-direction: column; /
        text-align: center;
    }
    
    .card-footer .sale-price, .card-footer .regular-price {
        font-size: 1.75rem; 
    }
    
    .card-footer .rating-div small {
        font-size: 1rem; 
    }
}

/* Large screens */
@media (min-width: 992px) {
    .card-footer .price {
        flex-direction: row; 
        text-align: left;
    }
    
    .card-footer .sale-price, .card-footer .regular-price {
        font-size: 2rem; 
    }

    .card-footer .rating-div small {
        font-size: 1.1rem; 
    }
}
