{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Products{% endblock %}

{% block page_header %}
    <div class="container header_container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>

                 <!-- Category Name-->
                {% if product.primary_category %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?primary_category={{ primary_category.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ product.primary_category.friendly_name }}</span>
                    </a>
                {% else %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?special_category={{ special_category.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ product.special_category.friendly_name }}</span>
                    </a>
                {% endif %}
               

                <hr class= "mb-1">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="product-container col-10">
                <!-- Product sort -->
                 <div class="row mx-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper">
                            <select class="form-select" id="sort-selector">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}> Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
            
                        <p class="text-muted mt-3 text-center text-md-left">
                            {{ products_count }} Products
                        </p>
                    </div>
                 </div>
                 <!-- Product sort end -->
                <div class="row pb-4">
                    {% for product in products %}
                    <!-- Product Card -->
                        <div class="col-md-6 col-lg-4 gy-3">
                            <div class="card shadow product-card h-100">
                                <div  class="product-grid mb-1 position-absolute">
                                    <a href="{% url 'products' %}?category={{ product.category.name }}" class="category-badge m-2 d-flex text-decoration-none align-items-center">
                                        <span class="p-2 weight-semibold text-uppercase badge badge-white text-black rounded-0 border border-dark">{{ product.category.friendly_name }}</span>
                                    </a>
                                    <form class="product-links" method="POST" action="{% url 'wishlist_add' product.id %}">
                                        {% csrf_token %}
                                        
                                        {% if product.is_in_wishlist %}
                                            <!-- Heart icon when product is in wishlist -->
                                            <button type="submit" class="wishlist" name="wishlist" value="submit" aria-label="remove from wishlist"><i
                                                class="fa-solid fa-heart"></i>
                                            </button>
                            
                                        {% else %}
                                            <!-- Heart icon when product is not in wishlist -->
                                            <button type="submit" class="wishlist" name="wishlist" value="submit" aria-label="add to wishlist">
                                                <i class="fa-regular fa-heart fa-flip"></i> <!-- Empty heart with a flip effect -->
                                            </button>
                                        {% endif %}
                                        
                                        <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                    </form>
                                </div>

                                <!-- Product Image -->
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                {% if product.price_discount %}
                                        <span class="product-discount-label">-{{ product.price_discount }}%</span>
                                {% endif %}
                                 <!-- Product Name -->
                                <div class="card-body bg-ib-white pb-2">
                                    <h2 class="text-uppercase text-center weight-semibold text-ib-dark">{{ product.name }}</h2>
                                </div>
                                <!--Add to bag -->
                                <form action="{% url 'add_to_bag' product.id %}" method="POST">
                                    {% csrf_token %}
                                        <input type="hidden" name="quantity" value="1">
                                    {% if product.in_stock %}
                                        <input type="submit" class="btn btn-cordovan add_to_bag rounded-0 text-uppercase" value="Add To Bag">
                                    {% else %}
                                        <input type="submit" class="btn-gray add_to_bag" value="Out of stock" disabled>
                                    {% endif %}
                                        <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                </form>
                                <!-- Card Footer - Rating, Price & Edit/Delete -->
                                <div class="card-footer pt-0 pb-3">

                                    <div class="row">
                                        <div class="col-6 pe-0">
                                            
                                            <!-- Product Rating -->
                                            <div class="rating-div pe-0">
                                                {% if review_count %}
                                                    <small class="text-muted">
                                                        <i class="fas fa-star me-2 fa-solid" style="color:gold"></i>
                                                        {{ product.rating }}/5 of {{ review_count }} REVIEW{% if review_count != 1 %}S{% endif %}
                                                    </small>
                                                {% else %}
                                                    <small class="text-muted">No reviews yet.</small>
                                                {% endif %}
                                            </div>
                                            <div>
                                                {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a>
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="col-6 ps-0 mt-auto d-flex align-items-center justify-content-end">
                                            <!-- Product Price and Sale Price -->
                                            <div class="price d-flex align-items-center">
                                                {% if product.sale_price %}
                                                    <div class="original-price me-2">
                                                        <s>${{ product.price }}</s>
                                                    </div>
                                                    <div class="sale-price">
                                                        ${{ product.sale_price }}
                                                    </div>
                                                {% else %}
                                                    <div class="regular-price">
                                                        ${{ product.price }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- End of Product card -->
                </div>
                <!-- End of Product Cards Container-->
            </div>
        </div>
    </div>
     <!-- Pagination -->
     <div class="row">
        <div class="col-md-12">
            {% if products.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}">&laquo;Previous</a>
                </li>
                {% endif %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">Page {{ products.number }} of
                        {{ products.paginator.num_pages }}</span>
                </li>
                {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}">&raquo;Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{% endblock%}