{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Products{% endblock %}

{% block page_header %}
    <div class="container header_container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <a class= "shop-badge" href="{% url 'products' %}?all_products=true" class="text-decoration-none">
                    <h2 class="logo-font p-2 badge badge-white text-black rounded-0 border border-dark">
                        SHOP
                    </h2>
                </a>
                
                <!-- Category Name-->
                {% if category_friendly_name %}
                    <h5 >{{ category_friendly_name }}</h5>
                {% elif special_category_friendly_name %}
                    <h5>{{ special_category_friendly_name }}</h5>
                {% endif %}
               

                <hr class= "mb-1">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="product-container col-10">
                <!-- Product sort -->
                <div class="row mx-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper">
                            <select class="form-select" id="sort-selector" onchange="window.location.href = this.value;">
                                <option value="?sort=reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}> Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
            
                        <p class="text-muted mt-3 text-center text-md-left">
                            {{ products_count }} Products
                        </p>
                    </div>
                </div>
                <!-- Product sort end -->

                <div class="row pb-4">
                    {% for product in products %}
                    <!-- Product Card -->
                        <div class="col-md-6 col-lg-4 gy-3">
                            <div class="card shadow product-card h-100">
                                <div  class="product-grid mb-1 position-absolute">
                                    <a href="{% url 'products' %}?primary_category={{ product.primary_category.friendly_name }}" class="category-badge m-2 d-flex text-decoration-none align-items-center">
                                        <span class="p-2 weight-semibold text-uppercase badge badge-white text-black rounded-0 border border-dark">{{ product.primary_category.friendly_name }}</span>
                                    </a>
                                    <form class="product-links" method="POST" action="{% url 'wishlist_add' product.id %}">
                                        {% csrf_token %}
                                        
                                        {% if product.is_in_wishlist %}
                                            <!-- Heart icon when product is in wishlist -->
                                            <button type="submit" class="wishlist" name="wishlist" value="submit" aria-label="remove from wishlist"><i
                                                class="fa-solid fa-heart"></i>
                                            </button>
                            
                                        {% else %}
                                            <!-- Heart icon when product is not in wishlist -->
                                            <button type="submit" class="wishlist" name="wishlist" value="submit" aria-label="add to wishlist">
                                                <i class="fa-regular fa-heart fa-flip"></i> <!-- Empty heart with a flip effect -->
                                            </button>
                                        {% endif %}
                                        
                                        <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                    </form>
                                </div>

                                <!-- Product Image -->
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                {% if product.price_discount %}
                                        <span class="product-discount-label">-{{ product.price_discount }}%</span>
                                {% endif %}
                                 <!-- Product Name -->
                                <div class="card-body bg-ib-white pb-2">
                                    <h2 class="text-uppercase text-center weight-semibold text-ib-dark">{{ product.name }}</h2>
                                </div>
                            
                                <div class="card-footer pt-0 pb-3">

                                    <div class="row">
                                        <div class="col-6 pe-0">
                                            
                                            <!-- Product Rating -->
                                            <div class="rating-div pe-0">
                                                {% if product.rating %}
                                                    <small class="text-muted">
                                                        <!-- Display numeric rating -->
                                                        <span>{{ product.rating }}</span>

                                                        {% for i in "12345" %}
                                                            {% if forloop.counter <= product.rating|default:0 %}
                                                                <!-- Filled star -->
                                                                <i class="fas fa-star fa-solid" style="color:gold;"></i>
                                                            {% else %}
                                                                <!-- Empty star -->
                                                                <i class="far fa-star" style="color:gold;"></i>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </small>
                                                {% else %}
                                                    <small class="text-muted">No reviews yet.</small>
                                                {% endif %}
                                            </div>
                                            <div>
                                                {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a>
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="col-6 ps-0 mt-auto d-flex align-items-center justify-content-end">
                                            <!-- Product Price and Sale Price -->
                                            <div class="price d-flex align-items-center">
                                                {% if product.sale_price %}
                                                    <div class="original-price me-2">
                                                        <s>${{ product.price }}</s>
                                                    </div>
                                                    <div class="sale-price">
                                                        ${{ product.sale_price }}
                                                    </div>
                                                {% else %}
                                                    <div class="regular-price">
                                                        ${{ product.price }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- End of Product card -->
                </div>
                <!-- End of Product Cards Container-->
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="row">
        <div class="col-md-12">
            {% if products.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{{ full_url }}&page=1">&laquo;First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ full_url }}&page={{ products.previous_page_number }}">&laquo;Previous</a>
                </li>
                {% endif %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
                </li>
                {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ full_url }}&page={{ products.next_page_number }}">&raquo;Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ full_url }}&page={{ products.paginator.num_pages }}">Last &raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>

{% endblock%}